<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>559368787575-6bvu04kt6qdu2dpqb7c4rkm9q1973h9o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.559368787575-6bvu04kt6qdu2dpqb7c4rkm9q1973h9o</string>
	<key>API_KEY</key>
	<string>AIzaSyCYyzN05B4MK-dK9pd_Xoe0ywFvkadskYM</string>
	<key>GCM_SENDER_ID</key>
	<string>559368787575</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.zety.barber</string>
	<key>PROJECT_ID</key>
	<string>barber-d47a8</string>
	<key>STORAGE_BUCKET</key>
	<string>barber-d47a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:559368787575:ios:56eb88a5e2ded69fb61872</string>
</dict>
</plist>